* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    width: 400px;
}

.textfield {
    border: 1px solid grey;
    padding: 5px;
    margin-bottom: 5px;

}
.textfield:focus {
    outline: 1px solid royalblue;
    border: none;
}

.button {
    padding: 5px 0;
    width: 100px;
    border-radius: 5px;
    color: white;
    background-color: coral;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    opacity: 0.8;
}